In [1]:
import os

In [2]:
%pwd

'/Users/divyanshu9871gmail.com/Desktop/ml-ops-holiday-package-prediction/notebooks'

In [3]:
os.chdir("../")

In [4]:
%pwd

'/Users/divyanshu9871gmail.com/Desktop/ml-ops-holiday-package-prediction'

In [5]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [6]:
df = pd.read_csv("./artifacts/data_ingestion/travel.csv")
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [7]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [8]:
df["Gender"].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [9]:
df["MaritalStatus"].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [10]:
df["TypeofContact"].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [11]:
df["Gender"] = df["Gender"].replace("Fe Male", "Female")
df["MaritalStatus"] = df["MaritalStatus"].replace("Single", "Unmarried")

In [12]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [13]:
df["Gender"].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [14]:
na_features = [features for features in df.columns if df[features].isnull().sum() >= 1]
for feature in na_features:
    print(feature, np.round(df[feature].isnull().mean() * 100, 5), "% missing values")

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [15]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [16]:
df["Age"].fillna(df["Age"].median(), inplace=True)
df["TypeofContact"].fillna(df["TypeofContact"].mode()[0], inplace=True)
df["DurationOfPitch"].fillna(df["DurationOfPitch"].median(), inplace=True)
df["NumberOfFollowups"].fillna(df["NumberOfFollowups"].mode()[0], inplace=True)
df["PreferredPropertyStar"].fillna(df["PreferredPropertyStar"].mode()[0], inplace=True)
df["NumberOfTrips"].fillna(0, inplace=True)
df["NumberOfChildrenVisiting"].fillna(
    df["NumberOfChildrenVisiting"].mode()[0], inplace=True
)
df["MonthlyIncome"].fillna(df["MonthlyIncome"].median(), inplace=True)

In [17]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [18]:
df.drop("CustomerID", axis=1, inplace=True)
df["TotalVisiting"] = (
    df["NumberOfChildrenVisiting"] + df["NumberOfPersonVisiting"]
)
df.drop(
    ["NumberOfChildrenVisiting", "NumberOfPersonVisiting"], axis=1, inplace=True
)

In [19]:
df.columns

Index(['ProdTaken', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch',
       'Occupation', 'Gender', 'NumberOfFollowups', 'ProductPitched',
       'PreferredPropertyStar', 'MaritalStatus', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'Designation', 'MonthlyIncome',
       'TotalVisiting'],
      dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ProdTaken               4888 non-null   int64
 1   Age                     4888 non-null   float64
 2   TypeofContact           4888 non-null   object
 3   CityTier                4888 non-null   int64
 4   DurationOfPitch         4888 non-null   float64
 5   Occupation              4888 non-null   object
 6   Gender                  4888 non-null   object
 7   NumberOfFollowups       4888 non-null   float64
 8   ProductPitched          4888 non-null   object
 9   PreferredPropertyStar   4888 non-null   float64
 10  MaritalStatus           4888 non-null   object
 11  NumberOfTrips           4888 non-null   float64
 12  Passport                4888 non-null   int64
 13  PitchSatisfactionScore  4888 non-null   int64
 14  OwnCar                  4888 non-null   int64
 15  Designation             4888 non-null   object
 16  MonthlyIncome           4888 non-null   float64
 17  TotalVisiting           4888 non-null   float64
dtypes: float64(7), int64(5), object(6)
memory usage: 687.5+ KB

In [21]:
df.to_csv("./data/processed/travel_processed.csv", index=False)

In [22]:
from dataclasses import dataclass
from pathlib import Path


@dataclass(frozen=True)
class DataValidationConfig:
    root_dir: Path
    raw_data_path: Path
    processed_data_path: Path
    all_schema: dict
    STATUS_FILE: Path

In [23]:
from src.constants import *
from src.utils.common import read_yaml, create_directories

In [24]:
class ConfigurationManager:
    def __init__(
        self,
        config_filepath=CONFIG_FILE_PATH,
        params_filepath=PARAMS_FILE_PATH,
        schema_filepath=SCHEMA_FILE_PATH,
    ):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])

    def get_data_validation_config(self) -> DataValidationConfig:
        config = self.config.data_validation
        schema = self.schema.COLUMNS
        create_directories([config.root_dir])

        return DataValidationConfig(
            root_dir=config.root_dir,
            raw_data_path=config.raw_data_path,
            processed_data_path=config.processed_data_path,
            all_schema=schema,
            STATUS_FILE=config.STATUS_FILE,
        )

In [25]:
import pandas as pd
from src.logger import logger

In [26]:
class DataValidation:
    def __init__(self, config: DataValidationConfig):
        self.config = config

    def preprocess_data(self):
        df = pd.read_csv(self.config.raw_data_path)
        logger.info(f"Data loaded from {self.config.raw_data_path}")

        df["Gender"] = df["Gender"].replace("Fe Male", "Female")
        df["MaritalStatus"] = df["MaritalStatus"].replace("Single", "Unmarried")

        df["Age"].fillna(df["Age"].median(), inplace=True)
        df["TypeofContact"].fillna(df["TypeofContact"].mode()[0], inplace=True)
        df["DurationOfPitch"].fillna(df["DurationOfPitch"].median(), inplace=True)
        df["NumberOfFollowups"].fillna(df["NumberOfFollowups"].mode()[0], inplace=True)
        df["PreferredPropertyStar"].fillna(
            df["PreferredPropertyStar"].mode()[0], inplace=True
        )
        df["NumberOfTrips"].fillna(0, inplace=True)
        df["NumberOfChildrenVisiting"].fillna(
            df["NumberOfChildrenVisiting"].mode()[0], inplace=True
        )
        df["MonthlyIncome"].fillna(df["MonthlyIncome"].median(), inplace=True)

        df.drop("CustomerID", axis=1, inplace=True)
        df["TotalVisiting"] = (
            df["NumberOfChildrenVisiting"] + df["NumberOfPersonVisiting"]
        )
        df.drop(
            ["NumberOfChildrenVisiting", "NumberOfPersonVisiting"], axis=1, inplace=True
        )

        logger.info("Data preprocessed")

        return df

    def save_data(self, df):
        df.to_csv(self.config.processed_data_path, index=False)
        logger.info(f"Data saved at {self.config.processed_data_path}")

    def validate_all_columns(self) -> bool:
        try:
            validation_status = None

            data = pd.read_csv(self.config.processed_data_path)
            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status

        except Exception as e:
            raise e

In [27]:
try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValidation(config=data_validation_config)
    df = data_validation.preprocess_data()
    data_validation.save_data(df)
    data_validation.validate_all_columns()
except Exception as e:
    raise e

[2024-09-08 21:35:19,849: INFO: common: yaml file: config/config.yaml loaded successfully]
[2024-09-08 21:35:19,851: INFO: common: yaml file: params.yaml loaded successfully]
[2024-09-08 21:35:19,854: INFO: common: yaml file: schema.yaml loaded successfully]
[2024-09-08 21:35:19,855: INFO: common: created directory at: artifacts]
[2024-09-08 21:35:19,856: INFO: common: created directory at: artifacts/data_validation]
[2024-09-08 21:35:19,866: INFO: 1207102321: Data loaded from artifacts/data_ingestion/travel.csv]
[2024-09-08 21:35:19,876: INFO: 1207102321: Data preprocessed]
[2024-09-08 21:35:19,921: INFO: 1207102321: Data saved at artifacts/data_validation/travel_processed.csv]